@page
@model ShowRecoveryCodesModel
@{
    ViewData["Title"] = "リカバリーコード";
    ViewData["ActivePage"] = "TwoFactorAuthentication";
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3 class="text-light">@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <strong>このコードは紛失しないよう保管してください。</strong>
    </p>
    <p>
        認証用デバイスを紛失した場合、このリカバリーコードがない場合はアカウントにアクセスできなくなります。
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
        {
            <code class="recovery-code">@Model.RecoveryCodes[row]</code><text>&nbsp;</text><code class="recovery-code">@Model.RecoveryCodes[row + 1]</code><br />
        }
    </div>
</div>
