@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "二要素認証(2FA)設定";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3 class="text-light">@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>使用可能なリカバリーコードがありません。</strong>
                    <p>リカバリコードを使用してログインする前に<a asp-page="./GenerateRecoveryCodes">新しいリカバリーコードを生成</a> する必要があります。</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>リカバリコードの使用可能回数が残り 1 回です。</strong>
                    <p><a asp-page="./GenerateRecoveryCodes">新しいリカバリコードを生成</a>してください。</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>リカバリコードの使用可能回数が残り @Model.RecoveryCodesLeft 回です。</strong>
                    <p><a asp-page="./GenerateRecoveryCodes">新しいリカバリコードを生成</a>できます。</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">このブラウザの信頼を取消す</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">二要素認証（2FA）を無効化</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">リカバリコードを初期化</a>
        }

        <h4 class="text-light">認証アプリ</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">認証アプリ追加</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">認証アプリ設定</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">認証アプリ初期化</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>利用規約、プライバシーポリシー、およびブラウザクッキーの使用に同意する必要があります。</strong>
            <p>二要素認証を有効にする場合は各種ポリシーに同意する必要があります。</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
