<ul class="navbar-nav" *ngIf="isAuthenticated | async">
  <li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-light" [routerLink]="['/test-sound']">サウンドテスト</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" [routerLink]='["/authentication/profile"]' title="Manage">{{ userName | async }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout">ログアウト</a>
  </li>
</ul>
<ul class="navbar-nav" *ngIf="(isAuthenticated | async) !== true">
  <li class="nav-item">
        <a class="nav-link text-light" [routerLink]='["/authentication/register"]'>登録</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" [routerLink]='["/authentication/login"]'>ログイン</a>
    </li>
</ul>
