@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "パスワードリセット";
}

<h1 class="text-light">@ViewData["Title"]</h1>
<p class="text-light">
    パスワードリセット用メールを送信しました。
    登録しているメールアドレスの受信ボックスを確認してください。
</p>
