@page
@model LockoutModel
@{
    ViewData["Title"] = "ロックアウト";
}

<header>
    <h1 class="text-warning">@ViewData["Title"]</h1>
    <p class="text-warning">このアカウントはロックアウトされています。 しばらく待ってから再試行してください。</p>
</header>
